*{
  border: 1px dashed #00E5EE;
}

div.instructions {
	display:none;
}

div#gameContainer {
	width: 1400px;
	height:900px;
	background-color: #2c3e50;
	/*margin: 0 auto;*/
	position: relative;
	/*border-radius: 100%;*/
	/*margin-top: 50px*/
}

img {
	width: 1400px;
	height:900px;
	background-color: #2c3e50;
	/*margin: 0 auto;*/
	position: relative;
	/*border-radius: 100%;*/
	/*margin-top: 50px*/

}

#messages {
	/*position: absolute;*/
	width:1400px;
	height: 190px;
	background-color: green;
	margin-top:20px;
	margin-left: 10px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
}

#grocerylistss{
	margin-top: 700px;
	text-align: center;
	display: inline;
	color: red;

	/*position: absolute;*/
}

.List1 {
	display: none;
	font-size: 50px;
	display:block;
	/*text-align: center;*/
	margin:0 auto;
	color: red;
}

.list2 {
	display: none;
	font-size: 50px;
	/*text-align: center;*/
	margin:0 auto;
	color: red;

}

.list3 {
	display: none;
	font-size: 50px;
	/*text-align: center;*/
	margin:0 auto;
	color: red;
}

.list4 {
	display: none;
	font-size: 50px;
	/*text-align: center;*/
	margin:0 auto;
	color: red;
}

.inputs {
	margin: 0 auto;
}

#playerText {
	margin: 5px;
	width: 200px;
	height: 20px;
}

.listContainer{
	position:absolute; 
	top:50px
}

.listContainer2{
	position:absolute; 
	top:50px
}

.listContainer3{
	position:absolute; 
	top:50px
}

.listContainer4{
	position:absolute; 
	top:50px
}

#nameAndScores {
	width: 500px;
	border: 1px solid black;
	overflow: hidden; 
	display: inline-block;
	margin: 0 auto;
}

#nameAndScores2 {
	width: 500px;
	border: 1px solid black;
	overflow: hidden; 
	display: inline-block;

}

#player1Scoreboard{
	width: 100px;
	height:100px;
	background-color: blue;
	display: inline-block;
	/*float:right;*/

}

#player2Scoreboard{
	width: 100px;
	height:100px;
	background-color: blue;
	display: inline-block;
	/*float:right;*/
}

#player1Name {
	width: 100px;
	height:100px;
	background-color: blue;
	display:inline-block;
	float:left;
	/*position: absolute;*/
	
}

#player2Name {
	width: 100px;
	height:100px;
	background-color: blue;
	display: inline-block;
	float: left;
}

#answerInputs {
	display: inline-block;
	float: right;
	width: 300px;
	height: 100px;
}







